@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contain{
    background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%,
        rgba(155, 0, 250, 1) 100%
    );
}

.contain h1{
    text-align: center;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
}

.contain .main{
    display: flex;
    align-items: center;
}

.contain .form-container{
    width: 500px;
    height: 480px;
    margin: 10px auto;
    background: #e4e4e4;
    padding: 10px;   
    border-radius: 5px;
}

.contain .form-container .btn{
    width: 25%;   
}

.contain .view-container{
    width: 600px;    
    margin: 10px auto;
    background: #e4e4e4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.form-control, .btn, .form-check-input{
    box-shadow: none !important;
    outline: none !important;
}

.delete{
    color: red;
}

tbody{
    margin-top: 25px;
}